
form(action=`/biodata/${index}?_method=PUT` method="post")
    p Nama: 
        input(type="text" name="nama" value= `${data.nama}`)
    P Alamat:
        input(type="text", name="alamat" value= `${data.alamat}`)
        input(type="submit" value="Simpan")